openapi: 3.0.3
info:
  title: Cisco Meraki Dashboard Clients Networks API
  description: RESTful API for managing Cisco Meraki cloud-managed networking devices including wireless access points, switches, security appliances, and cameras.
  version: '1.0'
  contact:
    name: Cisco DevNet
    url: https://developer.cisco.com/meraki/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://api.meraki.com/api/v1
  description: Meraki Dashboard API v1
security:
- apiKeyAuth: []
tags:
- name: Networks
  description: Manage networks within an organization
paths:
  /organizations/{organizationId}/networks:
    get:
      operationId: getOrganizationNetworks
      summary: Cisco Meraki List Organization Networks
      description: List the networks that the user has privileges on in an organization.
      tags:
      - Networks
      parameters:
      - name: organizationId
        in: path
        required: true
        description: The organization ID.
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Network'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createOrganizationNetwork
      summary: Cisco Meraki Create Organization Network
      description: Create a network in an organization.
      tags:
      - Networks
      parameters:
      - name: organizationId
        in: path
        required: true
        description: The organization ID.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkCreate'
      responses:
        '201':
          description: Network created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    NetworkCreate:
      type: object
      description: Request body for creating a network.
      required:
      - name
      - productTypes
      properties:
        name:
          type: string
          description: Network name.
          example: Main Office
        productTypes:
          type: array
          items:
            type: string
          description: Product types for the network.
          example:
          - appliance
          - switch
          - wireless
        timeZone:
          type: string
          description: Timezone.
          example: America/Los_Angeles
        tags:
          type: array
          items:
            type: string
          description: Tags for the network.
    Network:
      type: object
      description: A Meraki network.
      properties:
        id:
          type: string
          description: Network ID.
          example: L_500123
        organizationId:
          type: string
          description: Organization ID.
          example: '500123'
        name:
          type: string
          description: Network name.
          example: Main Office
        productTypes:
          type: array
          items:
            type: string
          description: Product types in the network.
          example:
          - appliance
          - switch
          - wireless
        timeZone:
          type: string
          description: Timezone of the network.
          example: America/Los_Angeles
        tags:
          type: array
          items:
            type: string
          description: Tags applied to the network.
          example:
          - production
          - campus
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Cisco-Meraki-API-Key
      description: Meraki Dashboard API key.
